{% extends 'internal_admin.html.twig' %}

{% block title %}{{ 'Alex & Scola\'s Invitation Management System | Gift Registry Management' }}{% endblock %}

{% block body %}
    <div class="content-body">
        <!-- row -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
